body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  min-width: 600px;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 20px;
  float: left;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.Nav-Bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: -10px;
  width: 100%;
  background-color: white;
  z-index: 1;
}

#Title {
  padding-left: 20px;
  padding-top: 15px;
}

.Links {
  float: right;
  padding: 20px;
  text-align: center;
  padding-right: 40px;
  font-weight: bold;
}

a {
  padding: 10px;
  text-decoration-line: none;
  color: #707070;
}

a:hover {
  color: black;
}

a.active {
  color: black;
}

.Links:hover {
  cursor: pointer;
}

.About {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

#Page-Title {
  color: black;
}

h1.Page-Title {
  font-size: 32px;
  color: black;
}

.About-Content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  margin-left: 20%;
}

.About-Text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: black;
  margin: 40px;
}

#About-Caption-Tag {
  text-align: center;
  font-weight: bold;
  line-height: 16px;
}

#About-Caption {
  text-align: center;
}

#About-Caption-Contact-Info {
  text-align: center;
  font-weight: bold;
  line-height: 16px;
}

#About-Photo{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font: black;
  height: 47%;
  width: 47%;
  box-shadow: 8px 8px 16px #999999;
  margin-left: 80px;
  margin-bottom: 50px;
}






