body {
  background-color: #ffffff;
  color: white;
  font-family: 'Roboto', sans-serif;
  min-width: 600px;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 20px;
  float: left;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.Nav-Bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: -10px;
  width: 100%;
  background-color: white;
  z-index: 1;
}

#Title {
  padding-left: 20px;
  padding-top: 15px;
}

.Links {
  float: right;
  padding: 20px;
  text-align: center;
  padding-right: 40px;
  font-weight: bold;
}

a {
  padding: 10px;
  text-decoration-line: none;
  color: #707070;
}

a:hover {
  color: black;
}

a.active {
  color: black;
}

.Links:hover {
  cursor: pointer;
}

#Hero {
  width: 135%;
  opacity: .80;
  position: fixed;
  top: -200px;
  left: -10px;
}

.Hero-Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

#Hero-Caption {
  font-weight: bold;
  color: white;
  font-size: 34px;
  text-shadow: 3px 3px 10px #555555;
  text-align: center;
  padding-top: -100px;
}

#button {
  width: 50%;
  font-weight: bold;
  color: black;
  font-size: 20px;
  justify-content: space-around;
}

#button:hover {
  cursor: pointer;
}